
        {%  include '::basic.html.twig' %}


    <body>
        {% include '::navigation.html.twig' %}

        <div class="container">
            <div class="page-header">
                <h1 class="display-1">Gästebuch</h1>
                <p class="lead page-description">Schreibe einen Beitrag.</p>
            </div>
            <a class="btn btn-primary btn-lg btn-block" href="{{ path('login') }}" role="button">Einloggen!</a>


                    {% block body %}{% endblock %}


