<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}You're logged in!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% include '::basic.html.twig' %}

<body>
{% include '::navigation.html.twig' %}


<div class="container">
    <div class="page-header">
        <h1 class="display-1">Gästebuch</h1>
        <p class="lead page-description">Sie haben eine Nachricht geschrieben.</p>
        <p> {{  post.Name }} hat eine Nachricht geschrieben:</p>
        <p>{{ post.Mail }}</p>
        <p>{{ post.Nachricht }}</p>
        <p>Dankeschön für Ihren Beitrag!</p>
    </div>
</div>