{% include '::basic.html.twig' %}
{% include '::navigation.html.twig' %}
<div class="container">
    <div class="page-header">
        <h1 class="display-1">Gästebuch</h1>
        <p class="lead page-description">Du bist Ausgeloggt.</p>
    </div>